@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@utility animate-blink {
  animation: blink 1s step-end infinite;
}
